<ion-content class="ion-padding">
  <div>
    <h1>歡迎來到 {{ mainlist[1].alt }}</h1>
    <ion-item>
      <ion-label position="floating">訂閱項目：</ion-label>
      <ion-textarea rows="2" [(ngModel)]="textareavalue1"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">訂閱費用：</ion-label>
      <ion-textarea rows="2" [(ngModel)]="textareavalue2"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">訂閱到期日：</ion-label>
      <ion-textarea rows="2" [(ngModel)]="textareavalue3"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">備註：</ion-label>
      <ion-textarea rows="2" [(ngModel)]="textareavalue4"></ion-textarea>
    </ion-item>
    <ion-button expand="full" (click)="onButton1Click()">新增資料</ion-button>

    <!-- 顯示訂閱資料 -->
    <ion-list>
      <ion-item *ngFor="let data of sub1data">
        <ng-container *ngIf="editTarget === data; else displayRow">
          <ion-textarea rows="2" cols="20" [(ngModel)]="data.textareavalue1"></ion-textarea>
          <ion-textarea rows="2" cols="20" [(ngModel)]="data.textareavalue2"></ion-textarea>
          <ion-textarea rows="2" cols="20" [(ngModel)]="data.textareavalue3"></ion-textarea>
          <ion-textarea rows="2" cols="20" [(ngModel)]="data.textareavalue4"></ion-textarea>
          <ion-button (click)="saveEdit(data)">儲存</ion-button>
          <ion-button (click)="cancelEdit()">取消</ion-button>
        </ng-container>
        <ng-template #displayRow>
          <ion-label>{{ data.textareavalue1 }}</ion-label>
          <ion-label>{{ data.textareavalue2 }}</ion-label>
          <ion-label>{{ data.textareavalue3 }}</ion-label>
          <ion-label>{{ data.textareavalue4 }}</ion-label>
          <ion-button (click)="editRow(data)">修改資料</ion-button>
          <ion-button (click)="onButton3Click(data)">刪除資料</ion-button>
        </ng-template>
      </ion-item>
    </ion-list>
  </div>

  <ion-button [routerLink]="['/main']" fill="clear">
    <img [src]="mainlist[14].img" [alt]="mainlist[14].alt" style="height: 32px;">
  </ion-button>
</ion-content>
