<ion-content>
  <ion-img [src]="mainlist[0].img" [alt]="mainlist[0].alt"></ion-img>
  <ion-button routerLink="/sub1" fill="clear">
    <ion-img [src]="mainlist[1].img" [alt]="mainlist[1].alt"></ion-img>
  </ion-button>
  <ion-button routerLink="/sub2" fill="clear">
    <ion-img [src]="mainlist[2].img" [alt]="mainlist[2].alt"></ion-img>
  </ion-button>
  <ion-button routerLink="/sub3" fill="clear">
    <ion-img [src]="mainlist[3].img" [alt]="mainlist[3].alt"></ion-img>
  </ion-button>
  <ion-button routerLink="/sub4" fill="clear">
    <ion-img [src]="mainlist[4].img" [alt]="mainlist[4].alt"></ion-img>
  </ion-button>
  <ion-button routerLink="/sub5" fill="clear">
    <ion-img [src]="mainlist[5].img" [alt]="mainlist[5].alt"></ion-img>
  </ion-button>
  <ion-button routerLink="/sub6" fill="clear">
    <ion-img [src]="mainlist[6].img" [alt]="mainlist[6].alt"></ion-img>
  </ion-button>
  <ion-button routerLink="/sub7" fill="clear">
    <ion-img [src]="mainlist[7].img" [alt]="mainlist[7].alt"></ion-img>
  </ion-button>
  <ion-button routerLink="/sub8" fill="clear">
    <ion-img [src]="mainlist[8].img" [alt]="mainlist[8].alt"></ion-img>
  </ion-button>
  <ion-button routerLink="/sub9" fill="clear">
    <ion-img [src]="mainlist[9].img" [alt]="mainlist[9].alt"></ion-img>
  </ion-button>
  <ion-button routerLink="/sub10" fill="clear">
    <ion-img [src]="mainlist[10].img" [alt]="mainlist[10].alt"></ion-img>
  </ion-button>
  <ion-button routerLink="/sub11" fill="clear">
    <ion-img [src]="mainlist[11].img" [alt]="mainlist[11].alt"></ion-img>
  </ion-button>
  <ion-button routerLink="/sub12" fill="clear">
    <ion-img [src]="mainlist[12].img" [alt]="mainlist[12].alt"></ion-img>
  </ion-button>
</ion-content>
